@model dynamic

@if (!string.IsNullOrWhiteSpace(Model.Value))
{
    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Uploaded file</th>
                <th class="govuk-table__header" scope="col"></th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table__cell--break-word" scope="row">
                    <a class="govuk-link" href="@Url.Action("Download", "Application" , new
                       {
                       Id=Model.Id,
                       sequenceNo=Model.SequenceNo,
                       sectionId=Model.SectionId,
                       pageId=Model.PageId,
                       questionId=Model.QuestionId,
                       filename=Model.Value
                       })">
                        @Model.Value
                    </a>
                </td>
                <td class="govuk-table__cell govuk-table__cell--numeric">
                    <a class="govuk-link" href="@Url.Action("DeleteFile", "Application", new
                    {
                        Id = Model.Id,
                        sequenceNo = Model.SequenceNo,
                        sectionId = Model.SectionId,
                        pageId = Model.PageId,
                        questionId = Model.QuestionId,
                        filename = Model.Value,
                        __redirectAction = Model.RedirectAction
                    })">
                        Remove
                        <span class="govuk-visually-hidden"> file</span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
}
else
{
    if (Model.ErrorMessages != null && Model.ErrorMessages.Count > 0)
    {
        foreach (var errorMessage in Model.ErrorMessages)
        {
            if (errorMessage.Field == Model.QuestionId)
            {
                <span class="govuk-error-message">@Html.Raw(errorMessage.ErrorMessage)</span>
            }
        }
    }

    <input type="file"
           class="govuk-file-upload"
           id="@Model.QuestionId"
           name="@Model.QuestionId"
           accept=".pdf,application/pdf" />
}